In [13]:
import numpy as np
import pandas as pd
import datetime
import sys, os

# Data parsing

In [14]:
# Parse html file
DAY = datetime.datetime.now().strftime("%d").lstrip('0')
MONTH = datetime.datetime.now().strftime("%m").lstrip('0')
# DAY = 5
# MONTH = 6
# SUB = '/scrf'
SUB = ''
file_name = 'Оперативные данные _ Коронавирус COVID–19_ Официальная информация о коронавирусе в России на портале – стопкоронавирус.рф.html'

# Save of "https://xn--80aesfpebagmfblc0a.xn--p1ai/information/" page
path = f'html_data/{DAY}-{MONTH}{SUB}/{file_name}'
parse_df = pd.read_html(path, encoding='utf-8')[0]

parse_df.head()

,Регион,Выявлено,Новые,Активные ? Число больных в настоящее время,Выздоровело,Умерло
0,Москва,197018,2001,89701,104347,2970
1,Московская область,44983,751,32374,12031,578
2,Санкт-Петербург,18835,326,10528,7915,392
3,Нижегородская область,12442,305,7424,4878,140
4,Свердловская область,7668,249,4352,3273,43

In [15]:
# Modifi data frame
parse_df = parse_df.drop(parse_df.columns[2:4] , axis=1)
parse_df.columns = ['Region/City', 'Confirmed', 'Recovered', 'Deaths']
parse_df['Date'] = datetime.datetime.now().strftime("%Y-%m-%d")
parse_df

                   Region/City  Confirmed  Recovered  Deaths        Date
0                       Москва     197018     104347    2970  2020-06-08
1           Московская область      44983      12031     578  2020-06-08
2              Санкт-Петербург      18835       7915     392  2020-06-08
3        Нижегородская область      12442       4878     140  2020-06-08
4         Свердловская область       7668       3273      43  2020-06-08
..                         ...        ...        ...     ...         ...
80         Сахалинская область        204         71       0  2020-06-08
81            Республика Алтай        180        101       0  2020-06-08
82                 Севастополь        177        145       3  2020-06-08
83  Чукотский автономный округ        106         65       1  2020-06-08
84   Ненецкий автономный округ         80         16       0  2020-06-08

[85 rows x 5 columns]

# Preparing parsed data

In [16]:
file_name = 'release/covid19-russia-cases-scrf.csv'
rus_df = pd.read_csv(file_name)
rus_df.tail()

,Date,Region/City,Region/City-Eng,Region_ID,Day-Confirmed,Day-Deaths,Day-Recovered,Confirmed,Deaths,Recovered
7493,2020-06-07,Челябинская область,Chelyabinsk region,74.0,115.0,2.0,70.0,3614.0,28.0,1721.0
7494,2020-06-07,Чеченская Республика,Chechen Republic,95.0,19.0,0.0,2.0,1345.0,14.0,990.0
7495,2020-06-07,Чукотский автономный округ,Chukotka Autonomous Okrug,87.0,4.0,0.0,2.0,106.0,1.0,65.0
7496,2020-06-07,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous Okrug,89.0,73.0,0.0,53.0,2694.0,11.0,1429.0
7497,2020-06-07,Ярославская область,Yaroslavl region,76.0,70.0,0.0,7.0,3646.0,15.0,1176.0

In [17]:
# Add day columns
parse_df['Day-Confirmed'] = 0
parse_df['Day-Deaths'] = 0
parse_df['Day-Recovered'] = 0

# Strip text data
rus_df['Region/City'] = rus_df['Region/City'].astype('str').str.strip('\u200b') 
parse_df['Region/City'] = parse_df['Region/City'].astype('str').str.strip('\u200b')

# Rename regions
rename_dict = {
    'Ямало-Ненецкий автономный округ' : 'Ямало-Ненецкий АО',
    'Республика Северная Осетия — Алания' : 'Республика Северная Осетия - Алания',
}

parse_df['Region/City'] = parse_df['Region/City'].replace(rename_dict)

In [18]:
parse_df['Date'] = pd.to_datetime(parse_df['Date'])
# Minus a day if needed
# parse_df['Date'] = parse_df['Date'] - pd.Timedelta(days=1)

In [19]:
def upd(row):
    reg = row['Region/City']
    
    row['Day-Confirmed'] = row['Confirmed'] - rus_df[rus_df['Region/City'] == reg]['Day-Confirmed'].sum()
    row['Day-Deaths']    = row['Deaths'] - rus_df[rus_df['Region/City'] == reg]['Day-Deaths'].sum()
    row['Day-Recovered'] = row['Recovered'] - rus_df[rus_df['Region/City'] == reg]['Day-Recovered'].sum()
    
    row['Day-Confirmed'] = row['Confirmed'] if np.isnan(row['Day-Confirmed']) else row['Day-Confirmed']
    row['Day-Deaths']    = row['Deaths'] if np.isnan(row['Day-Deaths']) else row['Day-Deaths']
    row['Day-Recovered'] = row['Recovered'] if np.isnan(row['Day-Recovered']) else row['Day-Recovered']
    
    return row.drop('Region/City')

parse_df = parse_df.groupby('Region/City').apply(lambda df: upd(df.iloc[0])).reset_index()

In [20]:
# Check for missed regions
parse_df[np.isnan(parse_df['Day-Confirmed'])]

Empty DataFrame
Columns: [Region/City, Confirmed, Recovered, Deaths, Date, Day-Confirmed, Day-Deaths, Day-Recovered]
Index: []

# Data checking

In [21]:
print('Russia Confirmed:', parse_df.groupby('Region/City')['Confirmed'].max().sum(),
      'Day-Confirmed:', parse_df.groupby('Region/City')['Day-Confirmed'].sum().sum())
print('Russia Deaths:', parse_df.groupby('Region/City')['Deaths'].max().sum(),
      'Day-Deaths:', parse_df.groupby('Region/City')['Day-Deaths'].sum().sum())
print('Russia Recovered:', parse_df.groupby('Region/City')['Recovered'].max().sum(),
      'Day-Recovered:', parse_df.groupby('Region/City')['Day-Recovered'].sum().sum())

# rus_regs = rus_sum.groupby('Region/City')['Recovered'].max().reset_index()
# rus_regs['Recovered-ByDay'] = rus_sum.groupby('Region/City')['Day-Recovered'].sum().reset_index(drop=True)
# rus_regs.loc[rus_regs['Recovered'] != rus_regs['Recovered-ByDay']]
# # rus_regs.to_csv('rus_regs.csv')

Russia Confirmed: 476658 Day-Confirmed: 8985.0
Russia Deaths: 5971 Day-Deaths: 112.0
Russia Recovered: 230688 Day-Recovered: 3957.0

# Data saving

In [22]:
# Save full update table
parse_df.to_csv(f'covid19-russia-cases-upd-full-scrf.csv', index=False)

In [23]:
# Drop rows without day changes
parse_df = parse_df[(parse_df['Day-Confirmed'] != 0) |
                (parse_df['Day-Deaths'] != 0) |
                (parse_df['Day-Recovered'] != 0)]

In [24]:
parse_df.to_csv(f'old_data/covid19-russia-cases-upd{DAY}-{MONTH}-scrf.csv', index=False)
parse_df.to_csv('covid19-russia-cases-upd-scrf.csv', index=False)