# Import

In [13]:
# storing and anaysis
import numpy as np
import pandas as pd

# Data preporation

In [14]:
file_name = 'covid19-russia-cases.csv'
rus_df = pd.read_csv(file_name, index_col=False)
rus_df.tail(10)

,Date,Region/City,Day-Confirmed,Day-Deaths,Day-Recovered,Confirmed,Deaths,Recovered
165,26.03.2020,Псковская область,2,0,0,6,0,0
166,26.03.2020,Самарская область,2,0,0,12,0,0
167,26.03.2020,Ханты-Мансийский АО,2,0,0,4,0,0
168,26.03.2020,Республика Бурятия,2,0,0,2,0,0
169,26.03.2020,Республика Хакасия,1,0,0,2,0,0
170,26.03.2020,Кемеровская область,1,0,0,3,0,1
171,26.03.2020,Новосибирская область,1,0,0,5,0,0
172,26.03.2020,Томская область,1,0,0,2,0,0
173,26.03.2020,Хабаровский край,1,0,0,5,0,0
174,26.03.2020,Московская область,0,0,5,41,0,8

In [15]:
# Bug fixes
rus_df['Region/City'] = rus_df['Region/City'].astype('str').str.strip('\u200b') 
print(rus_df['Region/City'])

0           Diamond Princess
1          Тюменская область
2         Забайкальский край
3          Тюменская область
4         Забайкальский край
               ...
170      Кемеровская область
171    Новосибирская область
172          Томская область
173         Хабаровский край
174       Московская область
Name: Region/City, Length: 175, dtype: object

Add region english translation

In [16]:
from googletrans import Translator

def translate(rus):
    eng = translator.translate(rus, src='ru', dest='en')
    return eng.text

translator = Translator()
rus_df['Region/City-Eng'] = rus_df['Region/City'].apply(translate)

# Reorder columns
col_list = rus_df.columns.tolist()
reord_col_list = col_list[:2] + [col_list[-1]] + col_list[2:-1]
rus_df = rus_df[reord_col_list]
rus_df.head()

,Date,Region/City,Region/City-Eng,Day-Confirmed,Day-Deaths,Day-Recovered,Confirmed,Deaths,Recovered
0,26.01.2020,Diamond Princess,Diamond Princess,3,0,0,3,0,0
1,31.01.2020,Тюменская область,Tyumen region,1,0,0,1,0,0
2,31.01.2020,Забайкальский край,Transbaikal region,1,0,0,1,0,0
3,12.02.2020,Тюменская область,Tyumen region,0,0,1,1,0,1
4,12.02.2020,Забайкальский край,Transbaikal region,0,0,1,1,0,1

Add region Lat/Long

In [17]:
# from geopandas.tools import geocode

# result = geocode("The Great Pyramid of Giza", provider="nominatim")
# print(result)

# point = result.geometry.iloc[0]
# print("Latitude:", point.y)
# print("Longitude:", point.x)

# Data checking

# Data saving

In [18]:
rus_df.to_csv(file_name, index=False)