In [74]:
import numpy as np
import pandas as pd
import datetime
import sys, os

# Data parsing

In [75]:
# Parse html file
DAY = datetime.datetime.now().strftime("%d").lstrip('0')
MONTH = datetime.datetime.now().strftime("%m").lstrip('0')
# DAY = 20
# MONTH = 5
# SUB = '/scrf'
SUB = ''
file_name = 'Оперативные данные _ Коронавирус COVID–19_ Официальная информация о коронавирусе в России на портале – стопкоронавирус.рф.html'

# Save of "https://xn--80aesfpebagmfblc0a.xn--p1ai/information/" page
path = f'html_data/{DAY}-{MONTH}{SUB}/{file_name}'
parse_df = pd.read_html(path, encoding='utf-8')[0]

parse_df.head()

,Регион,Выявлено,Новые,Активные ? Число больных в настоящее время,Выздоровело,Умерло
0,Москва,183088,2297,98296,82239,2553
1,Московская область,39723,728,30828,8422,473
2,Санкт-Петербург,16313,364,10352,5748,213
3,Нижегородская область,10149,315,6298,3747,104
4,Свердловская область,5732,283,3366,2337,29

In [76]:
# Modifi data frame
parse_df = parse_df.drop(parse_df.columns[2:4] , axis=1)
parse_df.columns = ['Region/City', 'Confirmed', 'Recovered', 'Deaths']
parse_df['Date'] = datetime.datetime.now().strftime("%Y-%m-%d")
parse_df

                   Region/City  Confirmed  Recovered  Deaths        Date
0                       Москва     183088      82239    2553  2020-06-01
1           Московская область      39723       8422     473  2020-06-01
2              Санкт-Петербург      16313       5748     213  2020-06-01
3        Нижегородская область      10149       3747     104  2020-06-01
4         Свердловская область       5732       2337      29  2020-06-01
..                         ...        ...        ...     ...         ...
80                 Севастополь        165        134       3  2020-06-01
81            Республика Алтай        132         74       0  2020-06-01
82         Сахалинская область        118         53       0  2020-06-01
83  Чукотский автономный округ         80         55       1  2020-06-01
84   Ненецкий автономный округ         73         12       0  2020-06-01

[85 rows x 5 columns]

# Preparing parsed data

In [77]:
file_name = 'release/covid19-russia-cases-scrf.csv'
rus_df = pd.read_csv(file_name)
rus_df.tail()

,Date,Region/City,Region/City-Eng,Region_ID,Day-Confirmed,Day-Deaths,Day-Recovered,Confirmed,Deaths,Recovered
6900,2020-05-31,Челябинская область,Chelyabinsk region,74.0,136.0,0.0,78.0,2795.0,16.0,1258.0
6901,2020-05-31,Чеченская Республика,Chechen Republic,95.0,18.0,0.0,3.0,1227.0,13.0,828.0
6902,2020-05-31,Чукотский автономный округ,Chukotka Autonomous Okrug,87.0,2.0,0.0,1.0,80.0,1.0,54.0
6903,2020-05-31,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous Okrug,89.0,65.0,0.0,22.0,2375.0,9.0,975.0
6904,2020-05-31,Ярославская область,Yaroslavl region,76.0,77.0,0.0,5.0,3132.0,14.0,756.0

In [78]:
# Add day columns
parse_df['Day-Confirmed'] = 0
parse_df['Day-Deaths'] = 0
parse_df['Day-Recovered'] = 0

# Strip text data
rus_df['Region/City'] = rus_df['Region/City'].astype('str').str.strip('\u200b') 
parse_df['Region/City'] = parse_df['Region/City'].astype('str').str.strip('\u200b')

# Rename regions
rename_dict = {
    'Ямало-Ненецкий автономный округ' : 'Ямало-Ненецкий АО',
    'Республика Северная Осетия — Алания' : 'Республика Северная Осетия - Алания',
}

parse_df['Region/City'] = parse_df['Region/City'].replace(rename_dict)

In [79]:
parse_df['Date'] = pd.to_datetime(parse_df['Date'])
# Minus a day if needed
# parse_df['Date'] = parse_df['Date'] - pd.Timedelta(days=1)

In [80]:
def upd(row):
    reg = row['Region/City']
    
    row['Day-Confirmed'] = row['Confirmed'] - rus_df[rus_df['Region/City'] == reg]['Day-Confirmed'].sum()
    row['Day-Deaths']    = row['Deaths'] - rus_df[rus_df['Region/City'] == reg]['Day-Deaths'].sum()
    row['Day-Recovered'] = row['Recovered'] - rus_df[rus_df['Region/City'] == reg]['Day-Recovered'].sum()
    
    row['Day-Confirmed'] = row['Confirmed'] if np.isnan(row['Day-Confirmed']) else row['Day-Confirmed']
    row['Day-Deaths']    = row['Deaths'] if np.isnan(row['Day-Deaths']) else row['Day-Deaths']
    row['Day-Recovered'] = row['Recovered'] if np.isnan(row['Day-Recovered']) else row['Day-Recovered']
    
    return row.drop('Region/City')

parse_df = parse_df.groupby('Region/City').apply(lambda df: upd(df.iloc[0])).reset_index()

In [81]:
# Check for missed regions
parse_df[np.isnan(parse_df['Day-Confirmed'])]

Empty DataFrame
Columns: [Region/City, Confirmed, Recovered, Deaths, Date, Day-Confirmed, Day-Deaths, Day-Recovered]
Index: []

# Data checking

In [82]:
print('Russia Confirmed:', parse_df.groupby('Region/City')['Confirmed'].max().sum(),
      'Day-Confirmed:', parse_df.groupby('Region/City')['Day-Confirmed'].sum().sum())
print('Russia Deaths:', parse_df.groupby('Region/City')['Deaths'].max().sum(),
      'Day-Deaths:', parse_df.groupby('Region/City')['Day-Deaths'].sum().sum())
print('Russia Recovered:', parse_df.groupby('Region/City')['Recovered'].max().sum(),
      'Day-Recovered:', parse_df.groupby('Region/City')['Day-Recovered'].sum().sum())

# rus_regs = rus_sum.groupby('Region/City')['Recovered'].max().reset_index()
# rus_regs['Recovered-ByDay'] = rus_sum.groupby('Region/City')['Day-Recovered'].sum().reset_index(drop=True)
# rus_regs.loc[rus_regs['Recovered'] != rus_regs['Recovered-ByDay']]
# # rus_regs.to_csv('rus_regs.csv')

Russia Confirmed: 414878 Day-Confirmed: 9035.0
Russia Deaths: 4855 Day-Deaths: 162.0
Russia Recovered: 175877 Day-Recovered: 3994.0

# Data saving

In [83]:
# Save full update table
parse_df.to_csv(f'covid19-russia-cases-upd-full-scrf.csv', index=False)

In [84]:
# Drop rows without day changes
parse_df = parse_df[(parse_df['Day-Confirmed'] != 0) |
                (parse_df['Day-Deaths'] != 0) |
                (parse_df['Day-Recovered'] != 0)]

In [85]:
parse_df.to_csv(f'old_data/covid19-russia-cases-upd{DAY}-{MONTH}-scrf.csv', index=False)
parse_df.to_csv('covid19-russia-cases-upd-scrf.csv', index=False)