In [50]:
# storing and anaysis
import numpy as np
import pandas as pd

In [51]:
zags_df = pd.read_csv('data-6267-2020-05-08.csv', sep=';', encoding='ISO-8859-1', index_col=0)
zags_df.tail()

,Year,Month,StateRegistrationOfBirth,NumberOfBirthCertificatesForBoys,NumberOfBirthCertificatesForGirls,StateRegistrationOfDeath,StateRegistrationOfMarriage,StateRegistrationOfDivorce,StateRegistrationOfPaternityExamination,StateRegistrationOfAdoption,StateRegistrationOfNameChange,TotalNumber,global_id,Unnamed: 14
ID,,,,,,,,,,,,,,
120,2019,Äåêàáðü,10329,5333,4996,10562,6230,4350,1250,63,935,33719,1026815773,NaN
121,2020,ßíâàðü,9703,5014,4689,10918,3365,4134,1088,46,815,30069,1029422373,NaN
122,2020,Ôåâðàëü,9485,4777,4708,9873,6244,3290,1082,50,942,30966,1035521174,NaN
123,2020,Ìàðò,9533,4940,4593,10250,4250,3284,1003,40,771,29131,1035521176,NaN
124,2020,Àïðåëü,3959,2042,1917,11846,3893,1424,323,7,54,21506,1035521177,NaN

In [52]:
death_df = zags_df[['Year', 'StateRegistrationOfDeath']]
death_df = death_df.rename(columns={'StateRegistrationOfDeath' : 'Deaths'})
death_df.head()

    Year  Deaths
ID
1   2010   10430
2   2010    9573
3   2010   10528
4   2010    9501
5   2010    9482

In [53]:
# Create month column
month_lst = (list(range(1, 13))*11)[:-8]
death_df['Month'] = month_lst
death_df

     Year  Deaths  Month
ID
1    2010   10430      1
2    2010    9573      2
3    2010   10528      3
4    2010    9501      4
5    2010    9482      5
..    ...     ...    ...
120  2019   10562     12
121  2020   10918      1
122  2020    9873      2
123  2020   10250      3
124  2020   11846      4

[124 rows x 3 columns]

In [56]:
# Save dataset
death_df = death_df[['Month', 'Year', 'Deaths']]
death_df.to_csv('release/moscow_deaths.csv', index=False)